body{
    margin: 0 ;
    font-family:cursive;
    background-image: url(https://sizzlingbombay.net/wp-content/uploads/2020/07/image1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.9;

}
.all    {
    background-color: #f8f1bf;
    width: 60%;
    margin: 25px auto;
    border-radius: 10px;
    box-shadow: 0 0 100px 40px rgb(68, 66, 66);
}
form{
    font-size: 20px;
    width: 100%;
}
h1 , p{
    text-align: center;
    font-size: 25px;
    width: 75%;
    margin: 15px auto;
}
p{
    padding: 25px 0 40px 0;
}
div{
    display: block;
    width: 90%;
    margin: auto;
}
label,textarea{
    display: block;
}
.info1 input{
    width:100%;
    padding: 5px;
}
.info1 ,name{
    margin-bottom: 50px;
}
where{
    display: inline;
}
.info{
    margin: 40px auto;
    padding: 30px;
    border-bottom:2px solid black;
    border-top:2px solid black;
}
input,textarea{
    background-color: #AEC2B6;
    border: 1px solid #DBE4C6;
    border-radius: 5px;

    font-size: 17px;
}
option{
    font-size: 20px;
}
#dropdown{
    width: 100%;
    height: 30px;
    font-size:20px;
    background-color:#AEC2B6;
    border: 1px solid #DBE4C6;
    border-radius: 5px;
}
.madi{
    padding-bottom: 10px;
}
.choose{
    padding-bottom:10px;
}
.choose{
    padding-bottom:10px;
}
.op{
    display: inline;
}
#otherSuggestion{
    width: 100%;
    height: 50px;
}
.submi{
width:300px; 
padding: 10px;
margin: 10px;
background-color: #54c480;
}
article{
    text-align: center;
}